
.sidebar{
  width:10%;
  bottom:0px;
  top:70px;
  height: 100%;
  background-color: #22242e;
  z-index: 1;
  position:fixed;
  box-shadow: 5px 5px 5px #808080;
}

.sidebar-content{
  color: white;
  width: 100%;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.sidebar-content:hover{
  background-color: #1b1d22;
  width: 100%; 
}

.sidebar-active{
  background-color: #1b1d22;  
}

.sidebar-logout{
  position: absolute;
  bottom: 0px;
}

.arrow-left {
  width: 100%;
}