
body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

/*.navbar-header{
  background-color: #2e97c8;
}*/

/*.navbar-brand {
    color: white !important;
}

.navbar{
    background-color: #37aae2 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #2e97c8 !important;
}*/

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1p #337ab7 solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* DashboardCard Style */

.dashboard-content{
padding:10px;
}

.dashboard-pipeline{
  padding-bottom:10px;
  padding-right: 0px;
}

.card{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height:100px;
  width: 385px;
  background-color: #edefef;
  border: 0px solid;
  border-radius: 2px;
}

.card  .head-default{
  background-color: #0277bd;
  width: 100%;  /* remove this to float the head content to left*/
}

.card  .head-danger{
  background-color: #ef5350;
  width: 100%
}

.card .header{
  min-height:40px;
}

.card .header .head-content{
  color: #FFF;
  line-height: 40px;
  padding-left: 10px;
}

.card-content{
  color: #514542;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* app header */
.white{
  color: white !important;
}

.header-content{
     color: white !important;
}

.active-bottom{
   border-bottom: 2px solid #cddd46 !important;
   background-color: #2e97c8;

}

/* pipeline job elements */

.job{
  width: 100%;
  background-color: #ffffff;
  height: 40px;
  box-shadow: 3px 0px 5px black;
  border-radius: 2px;
  color: black
}

.job .job-header{
  float:left;
  background-color: #2e97c8;
  width: 15%;
  height:100%;
  border-radius: 2px 0px 0px 2px;
  color: white;
  line-height: 40px;
  padding-left:30px;
}


.job-content{
  float: left;
  background-color: #FFF;
  width: 15%;
  height:100%;
  border-radius: 2px 0px 0px 2px;
  color: black;
  /*line-height: 40px;*/
  padding-left:30px;
}
.job-body .job-build {

}

.job-body .job-details {

}
.job-body .job-edit {

}
.job-body .job-copy {

}

.job-body .job-status {

}

.job-body .job-view {
  float: left;
  background-color: #FFF;
  width: 10%;
  height:100%;
  border-radius: 2px 0px 0px 2px;
  color: black;
  line-height: 40px;
  padding-left:30px;
}

.sidebar{
  width:130px;
  position:absolute;
  bottom:0px;
  height: 100%;
  background-color: #22242e;
  z-index: 1;
}

.sidebar-content{
  color: white;
  width:130px;
  height: 50px;
  padding: 16px;
  cursor: pointer;
}

.sidebar-content:hover{
  background-color: #1b1d22;
}

.sidebar-active{
  background-color: #1b1d22;  
}

.sidebar-logout{
  position: absolute;
  bottom: 0px;
}

.arrow-left {
  width: 130px; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid white; 
}

